<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    </head>

<body>
    
    <div class='sidebar'>
        <div class='sidebar-brand'>
            <img src="/src/assets/img/STC.png">
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="" class="active"><span class='las la-igloo'></span>
                        <span>Dashboard</span></a>
                </li>

                <li>
                    <a href=""><span class="bi bi-bar-chart-fill"></span>
                        <span>Estadísticas</span></a>
                </li>

                <li>
                    <a href=""><span class='las la-shipping-bag'></span>
                        <span>Semanal</span></a>
                </li>

                <li>
                    <a href=""><span class='las la-circle'></span>
                        <span>Mensual</span></a>
                </li>

                <li>
                    <a href=""><span class='las la-clipboard-list'></span>
                        <span>Tareas</span></a>
                </li>
            </ul>
        </div>
    </div>

    

</body>
