<head>
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
</head>

<body>
    <div class="main-content">
        <header>
            <h2>
                <label for="">
                    <span class="bi bi-bar-chart-fill"></span>
                </label>
                Dashboard
            </h2>
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="Buscar">
            </div>

            <div class="user-wrapper">
                <img src="" width="30px" height="30px" alt="">
                <div>
                    <h4>Rubén Soto</h4>
                    <small>Super Administrador</small>
                </div>
            </div>

        </header>
    </div>

    <main>
        <div class="cards">
            <div class="card-single" id="card1">
                <div>
                    <h1>0</h1>
                    <span>Espacio 1</span>
                </div>
            </div>

            <div class="card-single" id="card2">
                <div>
                    <h1>0</h1>
                    <span>Espacio 2</span>
                </div>
            </div>

            <div class="card-single" id="card3">
                <div>
                    <h1>0</h1>
                    <span>Espacio 3</span>
                </div>
            </div>

            <div class="card-single" id="card4">
                <div>
                    <h1>0</h1>
                    <span>Espacio 4</span>
                </div>
            </div>

        </div>
    </main>
</body>










<!--
            <div class="recent-grid">
                <div class="projects">
                    <div class="card">
                        <div class="card-header">
                            <h3>Recientes</h3>
                            <button>
                                See all <span class='las la-arrow-right'></span>
                            </button>
                        </div>
                        <div class="card-body">
                            <table width="100%">
                                <thead>
                                    <tr>
                                        <td>titulo de Proyectos</td>
                                        <td>departamento</td>
                                        <td>status</td>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Campo 1</td>
                                        <td>Campo 2</td>
                                        <td>
                                            <span class="status"></span>
                                            en progreso
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Campo 1</td>
                                        <td>Campo 2</td>
                                        <td>
                                            <span class="status"></span>
                                            en progreso
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Campo 1</td>
                                        <td>Campo 2</td>
                                        <td>
                                            <span class="status"></span>
                                            review
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="customers">
                    <div class="card">
                        <div class="card-header">
                            <h3>News</h3>
                            <button>
                                See all <span class='las la-arrow-right'></span>
                            </button>
                        </div>

                        <div class="card-body">
                            <div class="customer">
                                <img src="" alt="" width="40px" height="40px" >
                            </div>
                        </div>

                    </div>
                </div>

            </div>-->